.numberOfPeople_container {
    width: 100%;
    margin-top: 1.5rem;


}

.numberOfPeople_input {
    position: relative;
}

.numberOfPeople_icon {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    cursor: pointer;
}

.numberOfPeople_input input {
    width: 100%;
    height: 4rem;
    border-radius: 0.2rem;
    background-color: var(--light-grayish-cyan);
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
    color: var(--dark-grayish-cyan);
    text-align: end;
    appearance: none;

}

.numberOfPeople_input input::placeholder {
    text-align: end;
}

.numberOfPeople_input input:focus {
    outline: var(--strong-cyan) solid 0.2rem;
}


.numberOfPeople_container h3 {
    color: var(--dark-grayish-cyan);
    margin-bottom: .4rem;
}