.container {
    background-color: var(--white);
    flex: 1 1 100%;
    width: 100vw;
    border-top-right-radius: 3.2rem;
    border-top-left-radius: 3.2rem;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
}